<div class="d-flex">
    <div class="categories">
        <div>
            <a href="product" (click)="getProducts()">All products</a>
        </div>
        <!-- <div *ngFor="let category of categories">
            <div *ngIf="category.id == categoryEditIndex" class="input-group mb-3 mx-2 w-auto">
            </div>
            <div *ngIf="category.id != categoryEditIndex">
                <a href="products/category/{{category.id}}" (click)="getProducts()">{{category.title}}</a>
                <a *ngIf="isAdmin == true" class="float-end me-1" (click)="deleteCategory(category)">x</a>
                <a *ngIf="isAdmin == true" class="float-end me-1" (click)="openEditCategory(category)">e</a>
            </div>
        </div> -->
        <div *ngIf="isAdmin == true" >
            <input class="form-control mx-2 w-auto" id="category-input" #categoryPrice>
            <!-- <button class="mt-2 ms-2 btn btn-primary" (click)="addCategory(categoryPrice.value)">Add Category</button> -->
        </div>

    </div>
    <div class="products">
        <div class="product rounded-3 shadow-sm m-2" *ngFor="let product of product; let i = index">
            <app-product-edit *ngIf="i == productEditIndex" [product]="product" (updateEvent)="editProduct($event, i)"
                (cancelEvent)=closeEditProduct()></app-product-edit>
            <div *ngIf="i !== productEditIndex">
                <!-- <p>{{product.category.title}}</p> -->
                <p>{{product.breedName}}</p>
                <p>Weight: {{product.weight}}</p>
                <p>Gender: {{product.gender}}</p>
                <p>Description: {{product.description}}</p>
                <p>Price: {{product.price}}</p>
                <!-- <button class="btn btn-primary me-1" (click)="AddBasket(product)">Køb</button> -->
                <button class="btn btn-info me-1" routerLink="{{product.id}}">Details</button>
                <button *ngIf="isAdmin == true" class="btn btn-warning " (click)="openEditProduct(i)">Edit</button>
                <button *ngIf="isAdmin == true" class="btn btn-danger btn-sm position-absolute delete"
                    (click)="deleteProduct(product)">x</button>
            </div>
            <!-- <img src="/assets/img/{{product.images}}"> -->
        </div>
        <div *ngIf="addProductEnabled === true && isAdmin == true" class="add-product product rounded-3 shadow-sm bg-body m-2 bg-body">
            <a (click)="addProduct()">+</a>
        </div>
    </div>
</div>