<div class="d-flex">
    <div class="categories">
        <div>
            <a href="products" (click)="getProducts()">All products</a>
        </div>
        <div *ngFor="let Category of categories">
            <div *ngIf="Category.Id == CategoryEditIndex" class="input-group mb-3 mx-2 w-auto">
                <input type="text" #CategoryEditId class="form-control" value="{{Category.title}}"
                    aria-label="Recipient's username">
                <div class="input-group-append">
                    <button (click)="editCategory(Category, CategoryEditId.value)" class="btn btn-outline-secondary"
                        type="button">Save</button>
                </div>
            </div>
            <div *ngIf="Category.id != CategoryEditIndex">
                <a href="products/Category/{{Category.Id}}" (click)="getProducts()">{{Category.CategoryName}}</a>
                <!-- <a *ngIf="isAdmin == true" class="float-end me-1" (click)="deleteCategory(Category)">x</a>
                <a *ngIf="isAdmin == true" class="float-end me-1" (click)="openEditCategory(Category)">e</a> -->
            </div>
        </div>
        <div *ngIf="isAdmin == true" >
            <input class="form-control mx-2 w-auto" id="Category-input" #CategoryPrice>
            <button class="mt-2 ms-2 btn btn-primary" (click)="addCategory(CategoryPrice.value)">Add Category</button>
        </div>

    </div>
<div class="products">
    <div class="product rounded-3 shadow-sm m-2" *ngFor="let getProducts of products; let i = index">
        <app-product-edit *ngIf="i == productEditIndex" [product]="product" (updateEvent)="editProduct($event, i)"
            (cancelEvent)=closeEditProduct()></app-product-edit>
        <div *ngIf="i !== productEditIndex">
            <p>{{products.Category.CategoryName}}</p>
            <p>{{products.BreedName}}</p>
            <p>Price: {{Product.storage}}</p>
            <p>Weight: {{Products.Weight}}</p>
            <p>Gender: {{Products.Gender}}</p>
            <p>Description: {{Products.Description}}</p>
            <button class="btn btn-primary me-1" (click)="AddBasket(product)">Buy</button>
            <button class="btn btn-info me-1" routerLink="{{Products.Id}}">Details</button>
            <!-- <button *ngIf="isAdmin == true" class="btn btn-warning " (click)="openEditProduct(i)">Edit</button>
            <button *ngIf="isAdmin == true" class="btn btn-danger btn-sm position-absolute delete"
                (click)="deleteProduct(product)">x</button>-->
        </div>
        <img src="">
    </div>
    <!-- <div *ngIf="addProductEnabled === true && isAdmin == true" class="add-products products rounded-3 shadow-sm bg-body m-2 bg-body">
        <a (click)="addProduct()">+</a>
    </div> -->
</div>