<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>




<!-- ---------------------- Get all Products ---------------------- -->
<h2>Get Products</h2>
<table>
    <tr>
        <th>id</th>
        <th>breedName</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Gender</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let Product of products">
        <td>{{ Product.id }}</td>
        <td>{{ Product.breedName }}</td>
        <td>{{ Product.price }}</td>
        <td>{{ Product.weight }}</td>
        <td>{{ Product.gender }}</td>
        <td>{{ Product.description }}</td>
    </tr>
</table>
<!-- ---------------------- Get all Products ---------------------- -->
<br>
<br>
<br>
<!-- ---------------------- Get Product by id ---------------------- -->
<h3>Get product by id</h3>
<form action="">
    <label for="id">id: </label>
    <input [(ngModel)]="id" id="id" name="id"><br><br>
    <button (click)="getById(id)">Submit</button><br><br>
</form>
<table>
    <tr>
        <th>id</th>
        <th>breedName</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Gender</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{ getByIdProduct.id }}</td>
        <td>{{ getByIdProduct.breedName }}</td>
        <td>{{ getByIdProduct.price }}</td>
        <td>{{ getByIdProduct.weight }}</td>
        <td>{{ getByIdProduct.gender }}</td>
        <td>{{ getByIdProduct.description }}</td>  
    </tr>
</table>
<!-- ---------------------- Get Product by id ---------------------- -->
<br>
<br>
<br>
<!-- ---------------------- Create Product ---------------------- -->
<h3>Create Product</h3>
<form action="">
    <label for="new_Product_id">categoryID: </label>
    <input [(ngModel)]="newProduct.id" id="new_Product_id" name="categoryId"><br><br>
    <label for="new_Product_breedName">breedName: </label>
    <input [(ngModel)]="newProduct.breedName" id="new_Product_breedName" name="breedName"><br><br>
    <label for="new_Product_Price">Price: </label>
    <input [(ngModel)]="newProduct.price" id="new_Product_price" name="Price"><br><br>
    <label for="new_Product_Weight">Weight: </label>
    <input [(ngModel)]="newProduct.weight" id="new_Product_weight" name="Weight"><br><br>
    <label for="new_Product_Gender">Gender: </label>
    <input [(ngModel)]="newProduct.gender" id="new_Product_gender" name="Gender"><br><br>
    <label for="new_Product_Description">Description: </label>
    <input [(ngModel)]="newProduct.description" id="new_Product_description" name="Description"><br><br>
    <button (click)="create(newProduct)">Submit</button><br><br>
</form>
<table>
    <tr>
        <th>id</th>
        <th>breedName</th>
        <th>Price</th>
        <th>Weight</th>
        <th>Gender</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{ newProduct.id }}</td>
        <td>{{ newProduct.breedName }}</td>
        <td>{{ newProduct.price }}</td>
        <td>{{ newProduct.weight }}</td>
        <td>{{ newProduct.gender }}</td>
        <td>{{ newProduct.description }}</td>
    </tr>
</table>
<!-- ---------------------- Create Product ---------------------- -->
<br>
<br>
<br>
<!-- ---------------------- Update Product ---------------------- -->
<h3>Update Product</h3>
<form action="">
    <label for="">Id</label>
    <input [(ngModel)]="updateProduktId" id="updateProduct.id" name="updateProduct.id"><br><br>
    <label for="id">category id: </label>
    <input [(ngModel)]="product.id" id="product.category.id" name="product.category.id"><br><br>

    <label for="update_Product_breedName">breedName: </label>
    <input [(ngModel)]="product.breedName"  name="breedName"><br><br>

    <label for="update_Product_Price">Price: </label>
    <input [(ngModel)]="product.price" id="update_product_Price" name="Price"><br><br>

    <label for="update_Product_Weight">Weight: </label>
    <input [(ngModel)]="product.weight" id="update_product_Weight" name="Weight"><br><br>

    <label for="update_Product_Gender">Gender: </label>
    <input [(ngModel)]="product.gender" id="update_product_Gender" name="Gender"><br><br>

    <label for="update_Product_Description">Description: </label>
    <input [(ngModel)]="product.description" id="update_product_Description" name="Description"><br><br>
    <button (click)="update(updateProduktId, product)">Submit</button><br><br>
</form>
<table>
    <tr>
        <th>id</th>
        <th>categoryId</th> 
        <th>breedName</th>
        <th>price</th>
        <th>weight</th>
        <th>gender</th>
        <th>description</th>
    </tr>
    <tr>
        <td>{{ updateProduktId }}</td>
        <td>{{ product.id }}</td> 
        <td>{{ product.breedName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.gender }}</td>
        <td>{{ product.description }}</td>
    </tr>
</table>
<!-- ---------------------- Update Product ---------------------- -->
<br>
<br>
<br>
<!-- ---------------------- Delete Product ---------------------- -->
<h3>Delete product</h3>
<label for="id">id: </label>
<input [(ngModel)]="deleteProductid" id="id" name="id"><br><br>
<button (click)="delete(deleteProductid)">Submit</button><br><br>
<br>
<br>
<br>
<!-- ---------------------- Delete Product ---------------------- -->

