<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>


<!-- Søg pa navn -->
<form action="">
    <label for="name">Breedname: </label>
    <input [(ngModel)]="name" id="name" name="name"><br><br>
    <button (click)="searchByBreedName()">Submit</button><br><br>
</form>
<br><br>
<form action="">
  <label for="min-price">Minimums pris: </label>
  <input [(ngModel)]="minprice" id="min-price" name="min-price"><br><br>
  <label for="max-price">Maximum pris: </label>
  <input [(ngModel)]="maxprice" id="max-price" name="max-price"><br><br>
  <button (click)="searchByMinMaxPrice()">Submit</button><br><br>
</form>
<div id='search-page-body'></div>
