ul {
    list-style-type: none;
    margin-top: 0%;
    margin-left: 30%;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    width:fit-content;
  }
  
  li {
    float: left;
  }
  p {
      color: honeydew;
      padding-left: 10px;
  }
  li a , h3{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
  }

 li a:hover {
    background-color: #111;
  }

 