<ul>
    <li>
        <h3 (click)=clearProducts() >Orangular</h3>
    </li>
    <li>
        <a (click)=clearProducts() routerLink="/">Home</a>
    </li>

    <li *ngFor = "let cat of categories">
        <a (click)=clearProducts() [routerLink]="['/category', cat.categoryName]"> {{cat.categoryName}}</a>
    </li>
    <!-- //console.log("hello from getbyid " + `${this.endPoint}/${id}`); -->
    <li>
        <a (click)=clearProducts() routerLink="/search">Search</a>
    </li>
    <div class="left">
        <li>
            <a [routerLink]="['/product', 'test']">test</a>
        </li>
        <li>
            <a (click)=clearProducts() routerLink="/profile">Profile</a>
        </li>
        <li>
            <a (click)=clearProducts() routerLink="/login">Login</a>
        </li>    
        <li>
            <a (click)=clearProducts() routerLink="/basket">Basket</a>
        </li>    
    </div>
 
 
  </ul>
  