<p>user works!</p>


<!-- Get all users -->
<ul>
    <!-- For loop -->
    <li *ngFor="let user of users">
        <!-- <button (click)="edit(author)">Ret</button>
        <button (click)="delete(author)">Slet</button> -->
        <!-- {{ user.Id }} {{ user.email }} -->
    </li>
    <!-- For loop -->
</ul>
<!-- <table>
    <tr>
        <th>Id</th>
        <th>email</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{ user.UserId }}</td>
        <td>{{ user.email }}</td>
    </tr>

</table> -->


<!-- Get user by id -->

<!-- Create User -->

<!-- Delete User -->

<!-- Update User -->





