<p>category works!</p>

<table>
    <tr>
        <th colspan="4">Category</th>
    </tr>
    <tr>
        <th>CategoryId</th>
        <th>CategoryName</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor = "let cat of categories">
        <td>{{ cat.id}}</td>
        <td><input [(ngModel)] = "cat.categoryName" ></td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
    </tr>
    <tr>
        <td>Id</td> 
        <td><input [(ngModel)] = "category.categoryName"></td> 
        <th colspan="2"><button (click)="createCategory()">Create</button></th> 
    </tr>
</table>
